body { 
    background-color: black;
    font-size: 15px;
}
.card {
    background-color: - Dark desaturated blue (card background) hsl(244, 38%, 16%)

}
.heading {
    color: white;

}
.caja {
    background-color:hsl(244, 38%, 16%) ;
}
img {
}